body
{
	background-color: #161616;
	color: #eee;
}

button:hover { text-shadow: 0 5px 10px rgba(255,255,255,0.2); }

button a i { color: #ddd; }
button:hover a i { color: white; }

select { color: #eee; }

.search { 
	background-color: rgba(255, 255, 255, 0.938); 
	border-bottom: 4px solid #7fd4ff;
}

.search:hover
{
	background-color: #eee;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	border-bottom: 4px solid #C1B3FF;
}

.search:focus { background-color: #fff; }