*
{
	font-family: 'Poppins', arial, roboto;
	outline: none;
	line-height: 1.2em; 
}



p { margin: 0; }

a, a:hover, a:visited, a:active { text-decoration: none; }

button
{
	background-color: transparent;
	border: none;
	margin: 12px;
	transition: 0.15s;
	font-size: 14px;
}

button:hover
{
	transform: translateY(-3px);
	cursor: pointer;
}

button a i { font-size: 32px !IMPORTANT; }

select
{
	background-color: transparent;
	border: none;
	font-size: 16px;
}

select option
{
	background-color: #18181c;
	color: #7fd4ff;
}

select:focus {
  outline: none;
}

/* The div located in the upper-right part of the page */
/* It has a <select> tag which allows you to use a different search Engine for searching */
#selector
{
	position: fixed;
	top: 15px;
	right: 15px;
	font-size: 16px;
}

#time { font-size: 78px; } /* The clock */
#date { font-size: 24px; } /* The date */
#city a{ 
	font-size: 16px; 
	color: white;
} /* The city whose weather is being displayed */

.fa-heart {
	font-size: 13px;
}

select:hover, #city:hover
{
	cursor: pointer;
	text-decoration: underline;
}

/* The searchbar */
#searchbar
{
	width: 450px;
	border: none;
	border-radius: 5px;
	padding: 12px 20px;
	transition: 0.15s;
}

/* The container... which has all the things of the page inside it */
#container
{
	width: 60%;
	margin: auto;
	margin-top: 10%;
}

#button-container {
	width: 450px;
}


.fa-reddit {
	color: #FFC996;
}

.fa-youtube {
	color: #F56A79;
}

.fa-pencil-alt {
	color: #ecf0c1;
}

.fa-laptop-code {
	color: #ACFFAD;
}

.fa-at {
	color: #7fd4ff;
}

.fa-flipboard {
	color: #F56A79;
}

.fa-invision {
	color: #7fd4ff;
}

.fa-google-drive {
	color: #ACFFAD;
}

.fa-whatsapp {
	color: #71EFA3;
}

.fa-twitch {
	color: #C1B3FF;
}

/* CSS which will be applied when a specific condition is fulfilled */
@media screen and (max-width: 1000px)
{
	#container
	{
		margin-top: 17%;
		width: 80%;
	}
}

@media screen and (max-width: 655px)
{
	#container
	{
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20%;
	}
	#searchbar { width: 90%; }
	#time { 
		display: block;
		text-align: center; 
	}
	#button-container { 
		width: 90%; 
		display: flex; 
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
}